<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="mexBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <!-- name is from HelloService.cs namespace.class. behaviorConfiguration is from the endpoint address.-->
      <service name="ItemService.ItemService" behaviorConfiguration="mexBehaviour">
        <endpoint name="web" address="web" binding="webHttpBinding" behaviorConfiguration ="mexBehaviour" contract="ItemService.IItemService"></endpoint>
        <host>
          <baseAddresses>
            <!--// For basicHttpBinding endpoint (where the web address will enter)-->
            <add baseAddress="http://localhost/ItemService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>